%form-field{
    border-top: none;
    border-right: none;
    border-left:none;
    border-radius:0;
}

%daikin-custom-logo{
    flex: 1 0 auto;
    display: flex;
    position: relative;
    background-image: linear-gradient(135deg , black 25px , #329af2 25px , #329af2 38px , transparent 38px) ;
    a.logo{
        width: 182px;
        height: 55px;
        color:#329af2;
        padding: 0;
        margin: 0;
        text-indent: 30px;
        display: flex;
        flex-flow: wrap;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        &:after , &:before{display: none !important}
        &:hover{color:#329af2;}
        & span{
            margin-left: 30px;
            &:first-child{
                font-style: italic;
                font-weight:900;
                font-size:35px;
                line-height: 20px;
                padding-top: 11px;
                display: inline-block;
                margin-left: 19px;
                text-transform: uppercase;
            }
            &:last-child{
                font-size: 10px;
                font-style: italic;
                text-align: center;
                padding-left: 18px;
            }
        }
    }
}


@mixin custom-btn($round , $color , $color-hover){
border-radius: $round;
    background-color: $color;
    transition: all 0.5s;
    border: 1px solid #329AF2;
    color: #000;
    &:hover{
        background-color: $color-hover;
    }

}

